@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script type="text/javascript">
    //alert("Sayfamiza hos geldin.")   
    $(document).ready(myfun=>{
        console.log("Sayfamiza hos geldin.");
    })

    </script>
}










<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<partial name="_MenuPartialView"></partial><!--Kullanilmasi tavsiye edilen-->
@await Html.PartialAsync("_MenuPartialView")
@Html.Partial("_MenuPartialView")<!--Kesinlikle kullanma-->