@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/example.css" asp-append-version="true" />
@section MyCss
{
    <style type="text/css">
     .h1dunya{
         color:red;
         background-color:blue;
     }
     
    </style>
}


@section Scripts
{
    <script type="text/javascript">
    //alert("Sayfamiza hos geldin.")   
    $(document).ready(myfun=>{
        console.log("Sayfamiza hos geldin.");
    })

    </script>
}



<div class="row">
    <div class="col-md-4">
        <partial name="~/PartialViews/_ProductListPartialView.cshtml" model="@ViewBag.productListPartialViewModel" />
    </div>
    <div class="col-md-4">
        @*first method*@
        @*@await Component.InvokeAsync("ProductList",new {type=1}) *@
        @*second method*@
        <vc:product-list type="1"></vc:product-list>
    </div>
</div>






<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h1 class="h1dunya">Merhaba Dunya</h1>

<h2 class="example">Harici css</h2>

<partial name="_MenuPartialView"></partial><!--Kullanilmasi tavsiye edilen-->
@await Html.PartialAsync("_MenuPartialView")
@Html.Partial("_MenuPartialView")<!--Kesinlikle kullanma-->
